aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
            li.header(style="background-color: #fff")
                img(src='/adminlte/dist/img/item.png',alt='User Image', style='width: 200px;').img-align-left
            li.header
                | Main Navigation
            li.treeview
                a(href='/')
                    i.fa.fa-book
                    span
                        | Daftar Utama